.inner {
    max-width: 1170px;
    margin: 0 auto;
}

.default {
    padding: 80px;
}

.default .title {
    max-width: 1170px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.default .title h2 {
    font-size: 40px;
    font-weight: 700;
}

.default .title p {
    margin-top: 16px;
}